<drag-scroll class="example" >
    <mat-card drag-scroll-item >
        <img  src= "../../../../../assets/slide.jpg"/>
        <div class=" fs-2  ">Marble Arts and Handicrafts</div>
    </mat-card>
    <mat-card drag-scroll-item >
        <img  src="https://www.pandeymarblearts.com/images/slider-bg.jpg" />
        <div class="fs-2  ">Divine Sculptured Beauty</div>
    </mat-card>
    <mat-card drag-scroll-item >
        <img  src= "../../../../../assets/top_products_four.jpeg"/>
        <div class=" fs-2  ">Divine Handicrafted Tales</div>
    </mat-card>
       

</drag-scroll>