$blue : #283593;
$orange:#f44336;
.footer{
    color: $orange;
    background-color: black;
}
.hover:hover{
    text-decoration:  underline $orange ;
}
h1{
    font-family: 'Rye', cursive;
}
mat-icon:hover{
    color: #f44336;
}
hr{
    color: rgb(165, 162, 162) !important;
    height: 1px;
}

ul li {
    // display:inline-block;
    list-style-type:none;
    padding:3px;
    
}
.contact{
    padding-left: 6%;
    padding-right: 6%;
    padding-top:2%;
    padding-bottom:2%;

}
img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px !important;
}
  @media only screen and (max-width: 625px) {
    ul li {
      display:inline-block;
      list-style-type:none;
      // padding:3px;
      
     }
     li{
       margin: 4%;
     }
  }


/*====================*/
/* BUZZ OUT
/*====================*/

@-webkit-keyframes buzz-out-on-hover {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  @keyframes buzz-out-on-hover {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  .buzz-out-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .buzz-out-on-hover:hover, .buzz-out-on-hover:focus, .buzz-out-on-hover:active {
    -webkit-animation-name: buzz-out-on-hover;
    animation-name: buzz-out-on-hover;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
.location{
    width: 420px !important;
}
.products{
    width: auto;
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}
   .cols {
    width: 210px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    // padding: 0px 20px 20px 20px;
  }
  .footer .cols h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .cols ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .cols ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }

  .footer .cols ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
//   @media only screen and (min-width: 1280px) {
//     .contain {
//       width: 1200px;
//       margin: 0 auto;
//     }
//   }
//   @media only screen and (max-width: 1139px) {
//     .contain .social {
//       width: 1000px;
//       display: block;
//     }
//     .social h1 {
//       margin: 0px;
//     }
//   }
//   @media only screen and (max-width: 950px) {
//     .footer .col {
//       width: 33%;
//     }
//     .footer .col h1 {
//       font-size: 14px;
//     }
//     .footer .col ul li {
//       font-size: 13px;
//     }
//   }
//   @media only screen and (max-width: 500px) {
//       .footer .col {
//         width: 50%;
//       }
//       .footer .col h1 {
//         font-size: 14px;
//       }
//       .footer .col ul li {
//         font-size: 13px;
//       }
//   }
//   @media only screen and (max-width: 340px) {
//     .footer .col {
//       width: 100%;
//     }
//   }