$blue : #283593;
$orange:#f44336;
@keyframes ldio-irbkr07n7bf {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(2.05,2.05);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }
  .ldio-irbkr07n7bf div > div {
    position: absolute;
    width: 9.6px;
    height: 9.6px;
    border-radius: 50%;
    background: #283593;
    animation: ldio-irbkr07n7bf 0.7633587786259541s linear infinite;
  }.ldio-irbkr07n7bf div:nth-child(1) > div {
    left: 88px;
    top: 55px;
    animation-delay: -0.6939625260235948s;
  }
  .ldio-irbkr07n7bf > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 92.8px 59.8px;
  }.ldio-irbkr07n7bf div:nth-child(2) > div {
    left: 82px;
    top: 73px;
    animation-delay: -0.6245662734212353s;
  }
  .ldio-irbkr07n7bf > div:nth-child(2) {
    transform: rotate(32.72727272727273deg);
    transform-origin: 86.8px 77.8px;
  }.ldio-irbkr07n7bf div:nth-child(3) > div {
    left: 69px;
    top: 85px;
    animation-delay: -0.5551700208188758s;
  }
  .ldio-irbkr07n7bf > div:nth-child(3) {
    transform: rotate(65.45454545454545deg);
    transform-origin: 73.8px 89.8px;
  }.ldio-irbkr07n7bf div:nth-child(4) > div {
    left: 51px;
    top: 87px;
    animation-delay: -0.4857737682165163s;
  }
  .ldio-irbkr07n7bf > div:nth-child(4) {
    transform: rotate(98.18181818181819deg);
    transform-origin: 55.8px 91.8px;
  }.ldio-irbkr07n7bf div:nth-child(5) > div {
    left: 34px;
    top: 80px;
    animation-delay: -0.4163775156141568s;
  }
  .ldio-irbkr07n7bf > div:nth-child(5) {
    transform: rotate(130.9090909090909deg);
    transform-origin: 38.8px 84.8px;
  }.ldio-irbkr07n7bf div:nth-child(6) > div {
    left: 24px;
    top: 64px;
    animation-delay: -0.3469812630117974s;
  }
  .ldio-irbkr07n7bf > div:nth-child(6) {
    transform: rotate(163.63636363636363deg);
    transform-origin: 28.799999999999997px 68.8px;
  }.ldio-irbkr07n7bf div:nth-child(7) > div {
    left: 24px;
    top: 46px;
    animation-delay: -0.2775850104094379s;
  }
  .ldio-irbkr07n7bf > div:nth-child(7) {
    transform: rotate(196.36363636363637deg);
    transform-origin: 28.799999999999997px 50.8px;
  }.ldio-irbkr07n7bf div:nth-child(8) > div {
    left: 34px;
    top: 31px;
    animation-delay: -0.2081887578070784s;
  }
  .ldio-irbkr07n7bf > div:nth-child(8) {
    transform: rotate(229.0909090909091deg);
    transform-origin: 38.8px 35.8px;
  }.ldio-irbkr07n7bf div:nth-child(9) > div {
    left: 51px;
    top: 23px;
    animation-delay: -0.13879250520471895s;
  }
  .ldio-irbkr07n7bf > div:nth-child(9) {
    transform: rotate(261.8181818181818deg);
    transform-origin: 55.8px 27.799999999999997px;
  }.ldio-irbkr07n7bf div:nth-child(10) > div {
    left: 69px;
    top: 26px;
    animation-delay: -0.06939625260235947s;
  }
  .ldio-irbkr07n7bf > div:nth-child(10) {
    transform: rotate(294.54545454545456deg);
    transform-origin: 73.8px 30.799999999999997px;
  }.ldio-irbkr07n7bf div:nth-child(11) > div {
    left: 82px;
    top: 38px;
    animation-delay: 0s;
  }
  .ldio-irbkr07n7bf > div:nth-child(11) {
    transform: rotate(327.27272727272725deg);
    transform-origin: 86.8px 42.8px;
  }
  .loadingio-spinner-spin-5d3xdnqrxxk {
    width: 120px;
    height: 120px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-irbkr07n7bf {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-irbkr07n7bf div { box-sizing: content-box; }
  /* generated by https://loading.io/ */