$blue : #283593;
$orange:#f44336;
.example-spacer {
    flex: 1 1 auto;
  }
  .active{
      background-color: $orange ;
  }
 
mat-toolbar{
    width: 100%;
}
  .mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    // padding: 0 28px !important;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.toolbar-one{
    height: 90px;
    padding: 47px !important;
    font-family: 'Rye', cursive;
    color: #e1e3f8;
    white-space: nowrap;
    
}
.toolbar-two{
    height: 64px;
    background: $blue;
    white-space: nowrap;
    visibility: visible;
}
.example-flex-container {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 60px;
  }
ul{
    display:flex;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

a:hover{
    background-color: $orange;
}
a{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 64px;
    padding: 0 55px;
    display: block;
    color: #fff;
    text-decoration: none;
}
li{
    padding:3px 3px 0px 0px;
}
.mat-sidenav-container{
    background-color:$blue;
    min-height: 93vh !important;
  }
.fs-5{
    font-family: 'Rye', cursive;
    color: $orange;
}
button:hover{
    .mr{
        color: $orange;
    }
}
  